/* Gombok formázása */
.fooldal-gomb {
    display: block;
    width: 98%;
    padding: 10px;
    background-color: #f4cd0f;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 20px;
    border: solid;
    cursor: pointer;
    position: relative; /* Pozicionálás beállítása */
    z-index: 1; /* Z-index a gomb felemeléséhez */
}

.fooldal-gomb:hover {
    background-color: #edf175;
}

/* Táblázat stílusa */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border:  solid black;
}

th, td {
    padding: 5px;
    text-align: left;
    font-size: 18pt;
}

/* A képek szélessége és magassága */
.etlap-kep {
    width: 256px;
    height: 256px;
    object-fit: cover;   /* A kép kitölti a cellát, megtartva az arányokat */
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

/* Minden páros sor szine más */
tr:nth-child(3) {
    background-color: #edf175;
}
tr:nth-child(2),tr:nth-child(4) {
    background-color: #f4cd0f;
}


/* Táblázat fejlécek színezése */
th {
    background-color: #f4cd0f;
    font-weight: bold;
}

/* Oldal háttér színezése */
body {
    background-color: #f4540f;
}

.gomb-container2 {
    padding: 10px;               /* Térköz a konténer körül */
}

/* A teljes gomb-container beállítása flexboxra */
.gomb-containerBottom {
    display: flex;               /* Flexbox használata */
    justify-content: space-between; /* Tartalom két széle között oszlik el */
    align-items: center;         /* A logók középre igazítása függőlegesen */
    padding: 10px;               /* Térköz a konténer körül */
}

/* A logókat balra és jobbra helyezzük */
.logo-container {
    justify-self: flex-start;  /* Bal oldalon helyezkedik el */
	width: 50px;
}

.logo-container2 {
    justify-self: flex-end;    /* Jobb oldalon helyezkedik el */
	width: 50px;
}

/* Animációs beállítás a pizzalogo számára */
.pizzalogo {
    width: 50px; /* Állítsd be a kívánt szélességet */
    display: inline-block; /* Az inline-blokk beállítás a helyes pozicionáláshoz */
    animation: move 5s ease-in-out infinite; /* Új animáció létrehozása */
    animation-play-state: running; /* Alapértelmezett állapot megállítása */
    position: relative; /* A pozicionálás szükséges a balról jobbra mozgáshoz */
}

.pizzalogo2 {
    width: 50px; /* Állítsd be a kívánt szélességet */
    display: inline-block; /* Az inline-blokk beállítás a helyes pozicionáláshoz */
    animation: spin 2s linear infinite; /* Új animáció létrehozása */
    animation-play-state: running; /* Alapértelmezett állapot megállítása */
}

/* Animáció definíció */
@keyframes spin {
    from {
        transform: rotate(0deg); /* Kiindulási szög */
    }
    to {
        transform: rotate(360deg); /* Záró szög */
    }
}

@keyframes move {
    0% {
        left: 0; /* Kezdő pozíció balra */
    }
    50% {
        left: calc(100vw - 50px); /* Jobbra mozog a képernyő széléig (50px a logo szélessége) */
    }
    100% {
        left: 0; /* Visszatér balra */
    }
}
